title: Tailwind Jekyll Starter Kit
description: A starter kit for using Tailwind with Jekyll

collections:
  projects:
    output: true
    permalink: /:collection/:path

defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "default"

exclude:
  - Gemfile
  - Gemfile.lock
  - gulpfile.babel.js
  - LICENSE.md
  - node_modules
  - package.json
  - package-lock.json
  - README.md
  - src
  - tailwind.config.js
  - netlify.toml
