<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>DigitalService Open Source Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/DS_Logo_Favicon.png" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
  </head>

  <body>
    <div class="w-full sticky h-64 border-b">
      <a href="/"><img class="ml-32 w-64" src="{{ site.baseurl }}/assets/images/ds4g-logo.svg" /></a>
    </div>
</html>
